
// Define execution profiles

executor {

  $slurm {
      queueSize = 50
      submitRateLimit = '10sec'
  }

  $local {
      cpus = 4
  }
}

profiles {

    standard {
        process.executor = 'local'
        params.use_gpu = false
    }

    cluster {
        process {
            executor = 'slurm'
            withname : 'basecall' {
                queue = '30min'
                time = '00:30:00'
                cpus = 8
                memory = '3G'
             }
            withName : 'concatenate_and_compress' {
                queue = '6hours'
                time = '06:00:00'
                cpus = 1
                memory = '10G'
            }
        }
        params.use_gpu = false
    }

    gpu {
        process {
            executor = 'slurm'
            withname : 'basecall' {
                queue = '30min'
                time = '00:30:00'
                cpus = 1
                memory = '3G'
                clusterOptions = '--partition=rtx3090 --gres=gpu:1'
             }
            withName : 'concatenate_and_compress' {
                queue = '6hours'
                time = '06:00:00'
                cpus = 1
                memory = '10G'
            }
        }
        
        params.use_gpu = true
    }
}