
// Define executors options
executor {
    $slurm {
        // total number of jobs that can be submitted at the same time
        queueSize = 40
    }

    $local {
        cpus = 4
        queueSize = 1
    }
}

profiles {

    standard {
        process.executor = 'local'
        process.cpus = 4
        process.conda = 'conda_env.yml'
    }

    cluster {
        process {
            // use a predefined conda environment for jobs 
            conda = 'conda_env.yml'
            
            executor = 'slurm'
            
            withLabel: 'q1d' {
                time = '23:59:00'
                cpus = 8
                memory = '16G'
                clusterOptions = '--qos=1day'
            }

            withLabel: 'q6h' {
                time = '06:00:00'
                cpus = 8
                memory = '16G'
                clusterOptions = '--qos=6hours'
            }

            withLabel: 'q30m' {
                time = '00:30:00'
                cpus = 8
                memory = '16G'
                clusterOptions = '--qos=30min'
            }

            withLabel: 'q30m_1core' {
                time = '00:30:00'
                cpus = 1
                memory = '16G'
                clusterOptions = '--qos=30min'
            }

            withLabel : 'gpu_q30m' {
                time = '00:30:00'
                cpus = 1
                memory = '16G'
                clusterOptions = '--partition=a100 --gres=gpu:1 --qos=30min'
            }
            
            withLabel: 'q30m_highmem' {
                time = '00:30:00'
                cpus = 8
                memory = '32G'
                clusterOptions = '--qos=30min'
            }
            
            withLabel: 'q6h_subsample' {
                time = '00:30:00'
                cpus = 16
                memory = '32G'
                clusterOptions = '--qos=6hours'
            }
        }
    }
}

// generate report of the run
report {
    enabled = true
    file = 'reports/report.html'
}
