
// Define executors options

// executor {

//   $slurm {
//       queueSize = 100
//       submitRateLimit = '10sec'
//   }

//   $local {
//       cpus = 4
//   }
// }


// Define execution profiles

profiles {

    standard {
        process.executor = 'local'
        params.use_gpu = false
    }

    cpu {
        process {
            
            executor = 'slurm'
            
            withName : 'basecall' {
                time = '00:30:00'
                cpus = 8
                memory = '3G'
                clusterOptions = '--qos=30min'
             }

            withName : 'concatenate_and_compress' {
                time = '06:00:00'
                cpus = 1
                memory = '3G'
                clusterOptions = '--qos=6hours'
            }
        }
        params.use_gpu = false
    }

    gpu {
        process {
            
            executor = 'slurm'
            
            withName : 'basecall' {
                time = '00:30:00'
                cpus = 1
                memory = '3G'
                clusterOptions = '--partition=pascal --gres=gpu:1 --qos=30min'
             }
            
            withName : 'concatenate_and_compress' {
                time = '06:00:00'
                cpus = 1
                memory = '3G'
                clusterOptions = '--qos=6hours'
            }
        }
        
        params.use_gpu = true
    }
}

// generate report of the run
report {
    enabled = true
    file = 'reports/report.html'
}
